<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <style>
    h1 {
        color: red;
    }

    img {
        width: 50%;
        height: auto;
    }
    .main{
    	margin: 10px auto;
    	width: 1024px;
    	height: auto;
    }
    </style>
    <div class="main">
        <h1>Hello</h1>
        <a href="/newfile">Download</a>
        <img src="https://78.media.tumblr.com/6a78582cf62ad8a3dc7a6c2bc9c98963/tumblr_o9a73vsDTF1tsozubo1_1280.jpg" />
       <script>
       		for(var i=0; i<100; i++){
       			
       		}
       </script> 
    </div>
</body>

</html>